[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
python-decouple = "*"
keras = "*"
opencv-python = "*"
numpy = "*"
tensorflow = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.9"
